
body {
  font-family: sans-serif;
  text-align: center;
  padding: 20px;
  background: #f3f3f3;
}
.hidden {
  display: none;
}
textarea {
  width: 80%;
  height: 100px;
}
ul {
  list-style: none;
  padding: 0;
}
li {
  margin: 5px 0;
  text-align: left;
  display: flex;
  align-items: center;
}
li input {
  margin-right: 10px;
}
